body{
	background: #61122f;
	font-size: 16px;
	color: #fff;
}

h2{
  text-align: center;
}

#header-nav{
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}

#nav-list a:hover {
  background: #E7E7E7;
}

.box{
  border: 1px solid black;
  margin: 1vw;
  height: 200px;
  background: #34a;
}

.box_title{
  text-align: center;
  padding: 1px;
  overflow: hidden;
  margin-bottom: 2px;
  font-weight: bold;
}

.box_body{
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  height: 167px;
  overflow: auto;
}



